.dialog-frame iframe.file-manager-iframe {
    width: 745px;
}

@media (max-width: 991px) {
    .file-manager-modal .modal-dialog {
        max-width: 90%;
        max-height: 100vh;
    }

    .file-manager-modal .modal-dialog iframe {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .file-manager-modal .modal-dialog {
        max-width: 100%;
    }
}
